.container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 10px;
}

.input {
  width: 100%;
  padding: 10px 40px 10px 16px; 
  border-radius: 8px;
  border: none;
  outline: none;

  background: #2a2a2a;
  color: #fff;
}

.icon {
  position: absolute;
  right: 12px;
  top: 37%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .container{
    justify-content: center;
  }

  .icon{
    top: 50%;
  }
}